<h1>Teams</h1>
<h2><%= @team.name %></h2>

<form action="/teams/<%= @team.id %>" method='POST'>
  <input type='hidden' name='_method' value='PATCH'>
  <label for='name'>Name:</label> <input id='name' name='name' type='text' placeholder='name' value='<%= @team.name%>' required>
  <label for='country'>Country:</label>
  <select id='country' name='country'>
    <% @countries.each do |country| %>
      <%= "<option #{if country.name == @team.country.name then 'selected' end}>#{country.name}</option>" %>
    <% end %>
  </select>
  <button type='submit'>Apply</button>
</form>
