<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Teams</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/login.css">
        <style>
            html {
                height: 100%;
            }
            body {
                height: 100%;
            }
            a { 
                text-decoration: none; 
                color: black;
            } 
        </style>
        <style type = "text / css">
            tablescroll {
                height: 150px;
                width: 75%;
                overflow:auto;
            }
        </style> 
    </head>
    <body class="grey3 text-light">
        <nav class="navbar gradientgreen py-2">
            <a class="navbar-brand mx-3" href="/">
                <img src="/images/loginho.png" width="35" class="d-inline-block align-top" alt="">
                <h4 class="d-inline-flex white">Prode</h4>
            </a>
            <form action='/logout' method='GET'>
                <%= @current_user.username %>
                <button class="mx-3 btn btn-outline-light btm-sm" type="submit">Log out</button>
            </form>
        </nav>
        <div class="container w-75 my-5"> 
            <div class="row my-3"><h3>Teams</h3>
            </div>
            <div class="rounded" id="tablescroll"> 
                <table class="table responsive table-dark table-striped white">
                    <% @teams.each do |team| %>
                      <%= "
                        <tr>
                          <td>
                            #{team.name}  -  #{team.country.name}
                          </td>
                          <td class='d-flex justify-content-end'>
                            <a href=\"/teams/#{team.id}\">
                              <button class='btn white green mx-1'>Modify</button>
                            </a>
                            <button form='#{team.id}' type='submit' class='btn white green mx-1'>Remove</button>
                            <form id=#{team.id} action=\"/teams/#{team.id}\" method='POST'>
                              <input type='hidden' name='_method' value='DELETE'>
                            </form>
                          </td>
                        </tr>
                      " %>
                    <% end %>
                </table>
            </div>
            <a href='/teams/new'> 
                <button class="btn white green mx-1">Add team</button>
            </a>
        </div>
        <div class="container-fliud p-3 pt-2 grey2 ">
            <div class="row justify-content-center">
                <h3 class="text-center">Group 3</h2>
            </div>
            <div class="row py-0 justify-content-center">
                D'Autilio Joel, Rojo Jonathan, Rossi Pablo.
            </div>
        </div> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    </body>
</html>