<h1>Manage sports</h1>

<p>Sports</p>

<ul>
  <% @sports.each do |sport| %>
    <%= "<li>#{sport.name}
             <form action=\"http://localhost:4567/rename_sport?id=#{sport.id}\" method='PATCH'>
               <button type='submit'>Rename</button>
             </form>
             <form action=\"http://localhost:4567/delete_sport?id=#{sport.id}\" method='POST'>
               <button type='submit'>Remove</button>
             </form>
         </li>" %>
     <% end %>
</ul>
<form action="http://localhost:4567/add_sport" method='POST'>
  <input type='text' name='name' placeholder='name'></input>
  <button type='submit'>Add</button>
</form>
