<h1>Modify stage</h1>

<form action="http://localhost:4567/modify_stages?id=<%= @stage.id %>" method='POST'>
    <label for='name'>Name: </label> <input id='name' name='name' type='text' placeholder='name'></input>
    <label for='penalties'>Penalties?:</label>
    <select name='penalties' id='penalties'>
        <option>Yes</option>
        <option>No</option>
    </select>
    <button>Apply</button></a>
</form>