#login-form {
    margin: auto;
    width: 30%;
    padding: 60px;
    border-radius: 20px;
    color: #FFF;
    background-color: #1976D2;
}

input {
    width: 100%;
    height: 30px;
    margin: 5px;
    border-radius: 8px;
}

#submit {
    display: block;
    margin: 20px auto 0 auto;
    width: 40%;
}

body {
    display:grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.green{
    background-color: rgb(16, 221, 123);
}

.green2{
    background-color: rgb(33, 186, 86);
}

.grey{
    background-color: rgb(47, 61, 69);
}

.grey2{
    background-color: #1e262a;
}

.white{
    color: white;
}

.gradientgreen{
    background: #11998e; 
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e); 
}

.gradientwhite{
    background: rgb(208,238,223);
    background: linear-gradient(145deg, rgba(208,238,223,1) 0%, rgba(217,230,221,1) 9%, rgba(255,255,255,1) 50%);
}

.gradientgrey{
    background: rgb(47,61,67);
    background: linear-gradient(145deg, rgba(47,61,67,1) 34%, rgba(30,38,42,1) 100%); 
}

.gradient4{
    background: rgb(48,58,62);
    background: linear-gradient(145deg, rgba(48,58,62,1) 34%, rgba(20,24,26,1) 100%); 
}

.gradient5{
    background: rgb(18,214,86);
    background: linear-gradient(151deg, rgba(18,214,86,1) 47%, rgba(17,153,142,1) 100%); 
}

.gradient6{
    background: rgb(33,186,86);
    background: linear-gradient(145deg, rgba(33,186,86,1) 60%, rgba(17,153,142,1) 100%); 
}