<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <title>Sports</title>
</head>
<body class="gradientgrey text-light">
    <nav class="navbar gradientgreen py-2">
        <a class="navbar-brand mx-3" href="/">
            <img src="/images/loginho.png" width="35" class="d-inline-block align-top" alt="">
            <h4 class="d-inline-flex white">Prode</h4>
        </a>
        <form action='/logout' method='GET'>
            <%= @current_user.username %>
            <button class="mx-3 btn btn-outline-light btm-sm" type="submit">Log out</button>
        </form>
    </nav>
    <div class='container w-75 my-5'>
        <div class="row my-3"><h3>Sports</h3>
        </div>
        <table class="table responsible table-dark stripped white">
            <tbody>
                <% @sports.each do |sport| %>
                <%= "<tr>
                    <td>#{sport.name}
                    <td class='d-flex justify-content-end'>
                        <button class='rename_button btn white green mx-1' name='#{sport.id}' type='submit' >Rename</button>
                        <button class='btn white green mx-1' form=#{sport.id} type='submit'>Remove</button>
                    </td>
                    <form id=#{sport.id} action=\"/sports/#{sport.id}\" method='POST'>
                    <input type='hidden' name='_method' value='DELETE'>
                    </form>
                    </td>
                </tr>" %>
                <% end %>
            </tbody>
        </table>
        <form class='form-inline' action="/sports" method='POST'>
            <div class="row"> 
                <div class="col-3"><input class='form-control w-100 ' type='text' name='name' placeholder='name'></div>
                <div class="col-2"><button class='btn white green' type='submit'>Add</button></div>
            </div>
        </form>
    </div>
    <div class="container-fliud p-3 pt-2 grey2 ">
        <div class="row justify-content-center">
            <h3 class="text-center">Group 3</h2>
        </div>
        <div class="row py-0 justify-content-center">
                D'Autilio Joel, Rojo Jonathan, Rossi Pablo.
        </div>
    </div> 

    <script src='/scripts/rename_sports.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>