<head>
  <title>Manage sports</title>
</head>

<body>
  <h1>Manage sports</h1>
  
  <p>Sports</p>
  
  <ul>
    <% @sports.each do |sport| %>
      <%= "<li>#{sport.name}
        <button class='rename_button' name='#{sport.id}' type='submit' >Rename</button>
        <button form=#{sport.id} type='submit'>Remove</button>

        <form id=#{sport.id} action=\"/sports/#{sport.id}\" method='POST'>
          <input type='hidden' name='_method' value='DELETE'>
        </form>
      </li>" %>
    <% end %>
  </ul>
  <form action="/sports" method='POST'>
    <input type='text' name='name' placeholder='name'></input>
    <button type='submit'>Add</button>
  </form>
  
  <script src='/scripts/rename_sports.js'></script>
</body>
