<h1>Bets for <%= @tournament.name %></h1>

<div> <p>Points: <%= @score.points %></p> </div>

<h2>Forecasts</h2>

<table class="sortable">
<tr>
    <th>Stage</hd>
    <th>Home</th>
    <th>Away</th>
    <th>Date</th>
    <th>Time</th>
    <th>Winner</th>
    <th>By penalties</th>
</tr>

<% @bets.each do |bet| %>
    <%= "
        <tr>
            <td>#{bet.match.stage.name}</td>
            <td>#{bet.match.home.name}</td>
            <td>#{bet.match.away.name}</td>
            <td>#{bet.match.date}</td>
            <td>#{bet.match.time}</td>
            <td>#{if bet.team then bet.team.name else '-' end}</td>
            <td>#{if bet.draw then 'yes' else 'no' end}</td>
        </tr>
    " %>
<% end %>
</table>

<a href="http://localhost:4567/bets/new?tournament_id=<%= "#{@tournament.id}" %>"> <button> Add Forcast </button></a>