<head>
    <style>
    table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 5px;
    }
    </style>
</head>

<body>
    <h1>Forcast match result</h1>

    <h2>Matches</h2>

    <% @tournament.stages.each do |stage| %>
        <%= "
            <h3>#{stage.name}</h3>
            <table>
            <tr>
                <th>Home</th>
                <th>Away</th>
                #{"<th>Draw</th>" if not stage.penalties}
                <th>Date</th>
                <th>Time</th>
                #{"<th>Penalties?</th>" if stage.penalties}
            </tr>
        " %>
        <% stage.matches.each do |match| %>
          <%= if not (@current_user.bets.find_by match: match or match.result_charged?) then
                "
                <tr>
                    <td><label for='home_#{match.id}'>#{match.home.name}</label><input id='home_#{match.id}' type='radio' form=#{match.id} name='winner' value=#{match.home.id}></td>
                    <td><label for='away_#{match.id}'>#{match.away.name}</label><input id='away_#{match.id}' type='radio' form=#{match.id} name='winner' value=#{match.away.id}></td>
                    #{"<td><input type='radio' form=#{match.id} name='winner' value='draw'></td>" if not match.stage.penalties}
                    <td>#{match.date.strftime('%d-%m-%Y')}</td>
                    <td>#{match.time.strftime('%H:%M')}</td>
                    #{"<td><input form=#{match.id} type='checkbox' name='penalties' value=1></td>" if match.stage.penalties}
                    <td><button form=#{match.id} type='submit'>Predict</td>
                </tr>
                
                <form id=#{match.id} action=\"http://localhost:4567/bets?match_id=#{match.id}\" method='POST'></form>
                " 
              end %>
        <% end %>
        <%= "</table>" %>
    <% end %>
</body>
