<h1>Administration</h1>
<p>Welcome, <%= @current_user.username %></p>
<ul>
    <li><a href="http://localhost:4567/manage_sports">Sport</a></li>
    <li><a href="http://localhost:4567/manage_tournaments">Tournament</a></li>
</ul>
