<h1>Administration</h1>
<p>Welcome, <%= @current_user.username %></p>
<ul>
    <li><a href="http://localhost:4567/sports">Sport</a></li>
    <li><a href="http://localhost:4567/tournaments">Tournament</a></li>
    <li><a href="http://localhost:4567/teams">Teams</a></li>
</ul>
