<h1>Lobby</h1>

<p>Welcome, <%= @current_user.username %></p>

<ul>
    <% @tournaments.each |tournament| do%>
        <%= "<li> 
            <a href=\"http://localhost:4567/bets?#{tournament.id}\"> <button> #{tournament.name} </button></a>
        </li>" %>
    <% end %>
</ul>