<form name="signup_form" action="http://localhost:4567/signup" method="POST">
  <input name="username" placeholder="username" type="username"></input>
  <input name="password" placeholder="password" type="password"></input>
  <input name="password_confirmation" placeholder="confirm password" type="password"></input>
  <input type="submit" value="Submit!"/>
</form>
<p>Already have an account? <a href="http://localhost:4567/login">Log in!</a></p>
